:root {
  --title-color: #352435;
  --text-color: #634F63;
}

h1, h2, h3, h4 {
  color: var(--title-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color);
}

a {
  color: #AF9DAF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #9A8B9A;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

img {
  max-width: 100%;
  display: block;
}

footer {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #b6aeb6;
  position: absolute;
  bottom: 0;
  color: #352435;
}

li {
  list-style: none;
}